<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "Antje Lang" %></title>
    
    <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Euphoria+Script' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "foundation" %>
    
    <%= stylesheet_link_tag "foundation-icons/foundation-icons/foundation-icons.css" %>
    <%= javascript_include_tag  "vendor/modernizr" %>
    <%= javascript_include_tag  "vendor/jquery" %>
    <%= javascript_include_tag  "foundation.min" %>
    <%= stylesheet_link_tag "all" %>
    
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
    
    <script>
      $(document).foundation();
    </script>
  </body>
</html>